@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.szh-accordion__item{
    @apply border-b py-6 text-grey;
    & h3{
        @apply text-xl;
    }
    &:last-child{
        @apply border-none;
    }
}
.szh-accordion__item--expanded h3{
    @apply text-blue pb-4;
    & button:after{
        transform: rotate(180deg);
    }
}

@layer components {
    body{
        @apply text-grey;
        overflow-x: hidden;
        font-variant-ligatures: none;
        font-family: "Fira Sans";
    }
    header{
        @apply z-10 relative;
    }
    .wrapper {
        @apply w-11/12 m-auto relative;
        max-width: 81rem;
    }
    h1{
        @apply text-2xl md:text-5xl
    }
    h2{
        @apply text-2xl md:text-4xl
    }
    h3{
        @apply text-xl md:text-2xl font-bold
    }
    h1, h2 {
        @apply font-bold mb-6 font-sans;
        
    }
    p{
        @apply text-base mb-8;
    }
    .gutter{
        @apply py-14 md:py-28;
        &.sm{
            @apply py-7 md:py-14;
        }
        &.top{
            @apply pt-0;
        }
        &.bot{
            @apply pb-0;
        }
    }
    
    .play {
        @apply absolute w-32 h-32 top-2/4 left-2/4 -mt-16 -ml-16 cursor-pointer z-10;
        & i {
            @apply text-white drop-shadow-2xl relative right-0 top-0;
            font-size: 8rem;
            transition: all .2s;
        }
        &:hover {
            opacity: 1;
        }
    }
    .comp tr, .th tr{
        @apply relative;
        &:after{
            @apply bg-grey-md h-px absolute left-0 right-0 bottom-0;
            content: "";
        }
        & td{
            @apply text-center p-3 text-grey text-xl;
            
        }
    }
    .th tr:after{
        @apply bg-grey-light;
    }
    .modal-overlay {
        @apply fixed top-0 bottom-0 left-0 right-0 flex;
        z-index: 9999;
        background-color: rgba(000, 000, 000, 80%);
        backdrop-filter: blur(16px);
    }
    
    .modal-open {
        overflow: hidden;
    }
    
    .modal {
        position: relative;
        box-shadow: 0 5px 10px 0 rgb(0 0 0 / 60%);
        
        & .close {
            @apply absolute -top-10 md:top-0 cursor-pointer right-2 md:-right-10;
    
            & i {
                @apply text-white text-4xl leading-none;
                text-shadow: 0px 3px 2px rgb(0 0 0 / 40%);
            }
        }
    
        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    .video-m{
        @apply w-full md:w-4/5 bg-black;
        aspect-ratio: auto 16/9;
    }

    .accord{
        @apply relative;
        & h3{
            @apply text-grey text-left hover:text-blue;
            & button{
                @apply w-full flex gap-2 text-left;
            }
            & button:after{
                @apply text-lg text-grey-md hidden md:block;
                content: '\f078';
                font-family: Font Awesome\ 6 Free;
                font-weight: 900;
                transition: all .2s;
            }
        }
        & p {
            max-width: 90ch;
            &:last-child{
                @apply mb-0;
            }
        }
    }
    .hero-bg{
        @apply relative bg-none md:bg-cover bg-center bg-gray-900;
        background-image: url('../images/22-2001-Stephanie-Vost-Hero.jpg');
    }

}